.header{
    background-color:rgb(226, 226, 226);
    height: 60px;
    color: black;
    display: flex;
}

.header>h3{
    margin: auto;
    margin-left:10px ;
    background: -webkit-linear-gradient(rgb(63, 204, 185), rgb(90, 125, 221));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header>button{
    background: -webkit-linear-gradient(rgb(63, 204, 185), rgb(90, 125, 221));
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    color: aliceblue;
    border: 3px solid white;
    cursor: pointer;
  
    

}


.header>button:hover{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
