.header{
    background-color:rgb(226, 226, 226);
    height: 40px;
    color: black;
}

.header>h3{
    margin: auto;
    margin-left:10px ;
    background: -webkit-linear-gradient(rgb(63, 204, 185), rgb(90, 125, 221));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

