.login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    background-color: rgb(50, 73, 148);
    height: 90vh;

}
 .login>h1{
    margin-left: 15px;
    background: -webkit-linear-gradient(rgb(9, 201, 175), rgb(166, 226, 228));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.login > p{
    margin-left: 15px;
    color: rgb(185, 199, 199);
    font-size: medium;
    font-weight: 500;

}

 .container{

    background-color: rgb(46, 93, 179);
}

