.login{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px; 
    flex-direction: column; 
}
 .login>h1{
    margin-left: 15px;
    background: -webkit-linear-gradient(rgb(63, 204, 185), rgb(90, 125, 221));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
/*
.login > button{
    background-color: rgb(55, 65, 75);
    height: 50px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.login > button>img{
   height: 15px;
   margin-right: 5px;
}

.login > button>p{
    font-size: medium;
    font-weight: 400;
} */